---
import Layout from '../layouts/Layout.astro';
import Header from "@components/Header.astro";
import Grid from "@components/Grid.astro";
import Footer from "@components/Footer.astro";
import Social from "@components/Social.astro";
import Gallery from "@components/Gallery.astro";
---

<Layout title="Agency Landing Page.">
	<Header />
	<main>
		<Grid />
		<Social />
		<Gallery />
	</main>
	<Footer />
</Layout>

